:root {
  --fontWhite: rgba(255,255,255,.87);
  --fontBlack: rgba(0,0,0,.87);
  --deepMain: #003A65;
  --midMain: #0066B2;
  --lightMain: #199DFE;
  --deepSecondary: #653D00;
  --lightSecondary: #B26B00;
  --deepThird: #2C8244;
  --midThird: #46CF6C;
  --btnRed: #CB0F0A;
  --btnYellow: #D3D420;
  --btnBlue: #0A3E65;
  --grey: #f7f7f7;
  --wrapperWidth: 1140px;
  --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

body {
    font: 1em sans-serif;
}

h3 {
    margin: 0 0 1rem 0;
}

.booking {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: 1em auto;
    max-width: 900px;
}

.booking > * {
    margin-right: 3rem;
    flex-shrink: 0;
    flex-grow: 1;
}


.datePicker {
    display: inline-flex;
    flex-flow: column;
    width: 250px;
    padding: 0 0 1em 0;
    box-shadow: var(--shadow);

}

.datePicker .header {
    padding: 1rem;
    color: var(--fontWhite);
    background-color: var(--deepMain);
}

.datePicker h2, .datePicker h3 {
    margin: 0;
    padding: 0;
}

.datePicker span {
    width: calc(100% / 7);
    text-align: center;
    padding: .2em 0;
    transition: all .1s ease-in;
}

.labels {
    display: flex;
    flex-flow: row wrap;
    padding: .25em 1rem;
    margin: 0 0 .25em 0;
}

.calendar {
    display: flex;
    flex-flow: row wrap;
    padding: 0 1rem;
}

.calendar .picked {
    color: rgba(255, 255, 255, .87);
    background-color: var(--deepMain);
}

.calendar span:not(.disabled):not(.picked):not(.weekend):hover {
    cursor: pointer;
    background-color: powderblue;
}

.calendar .disabled {
    opacity: .5;
    cursor: default;
}

.calendar .weekend {
    color: var(--btnRed);
    cursor: default;
}

.time {
    display: inline-flex;
    flex-flow: column;
    width: 250px;
    padding: 0 0 1em 0;
    box-shadow: var(--shadow);
}

.time h2 {
    padding: 1rem;
    margin: 0 0 1.75rem 0;
    padding-bottom: calc(1rem + 21px);
    color: var(--fontWhite);
    background-color: var(--deepSecondary);
}

.times {
    padding: 0 1rem;
}

.times span {
    display: inline-block;
    width: calc(100% / 3);
    text-align: center;
    padding: .3em 0;
    transition: all .1s ease-in;
}

.times span:not(.disabled):not(.picked):hover {
    cursor: pointer;
    background-color: var(--lightSecondary);
}

.selected {
    display: block;
    padding: 0;
    width: 250px;
    box-shadow: var(--shadow);
}

.selected > div {
    padding: 0 3rem;
}

.selected h2 {
    padding: 1rem;
    margin: 0 0 1.75rem 0;
    padding-bottom: calc(1rem + 21px);
    color: var(--fontWhite);
    background-color: cadetblue;
}

.time .picked {
    color: rgba(255, 255, 255, .87);
    background-color: var(--deepSecondary);
}

#selectedTime {
    display: inline-block;
    padding: 1rem .25rem;
    font-weight: 700;
}